body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';
    margin: 0px 70px;
    background-color: black;
    display: flex;
    flex-direction: column;
}
/*Header style*/
.header {
    padding: 20px 210px;
    background:#1F2937;
    display: flex;
}
.header-links {
    gap: 24px;
    justify-content: flex-end;
    padding-bottom: 110px;
}
.header-title{
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
    padding-bottom: 110px;
}
.header-text {
    font-size: 18px;
    color: #E5E7EB;
}
.header.left,
.header-right{
    padding-bottom: 110px;
    padding-left: 80px;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
  }
.img-big {
    height: 270px;
    border: 0px 
}

button {
    border: none;
    border-radius: 8px;
    color: white;
    padding: 8px 32px;
    margin: 16px 0px;
    font-size: 18px;
    font-weight: 500;
    background: #3882F6;
  }

/*Information content style*/

.information {
    background: white;
    text-align: center;
    padding-bottom: 120px;
}
.info-tittle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 46px 0px;
}
.squares {
    display: flex;
    justify-content: center;
    gap: 38px;
    font-size: 18px;
}
.info {
    max-width: 200px;
  }
img {
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 14px;
  }
  
/*Testimonial content style*/

.testimonial {
    background: #E5E7EB;
    text-align: left;
    padding: 120px 320px;
}
.signature {
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}
.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

/*Contact content style*/

.contact {
    background: white;
    padding: 100px 200px;
}
.contact-info {
    display: flex;
    justify-content: space-between;
    padding: 40px 130px;
    border-radius: 10px;
    background: #3882F6; 
    color: #E5E7EB;
    font-size: 18px;
}
.contact-tittle {
    font-size: 26px;
    font-weight: 600;
    color: #F9FAF8;
}
.sign-up2 {
    border: 2px solid #F9FAF8;
}


